#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.buttons {
  margin-top: 100px
}

ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.search-menu {
  text-align: left;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  left: 0;
  z-index: 50;
  /* box-sizing: border-box; */
  border: 1px solid #a2a9b1;
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
}

.search-result-contianer {
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

.search-result-item {
  cursor: pointer;
  list-style: none;
  position: relative;
  padding: 8px 12px;
  line-height: 1.6;
  transition-property: background-color, color, border-color, box-shadow;
  transition-duration: .1s;
}

.search-result-item:hover {
  background-color: rgb(219, 219, 219);
}

.search-result-content {
  display: flex;
  align-items: center;
  line-height: 1.4285714;
  word-wrap: break-word;
  hyphens: auto;
}

.search-result-img {
  display: inline-flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-shrink: 0;
  box-sizing: border-box;
  min-width: 40px;
  min-height: 40px;
  width: 2.8571429em;
  height: 2.8571429em;
  border: 1px solid #c8ccd1;
  border-radius: 2px;
}

.search-result-img-placeholder {
  background-color: #f8f9fa;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  min-height: 40px;
  border: 1px solid #c8ccd1;
}

.search-result-img-default {
  background-position: center;
  background-repeat: no-repeat;
  width: 1.8571429em;
  height: 1.8571429em;
  color: grey;
}

.search-result-text {
  max-width: 500px;
  padding-left: 1rem;
}

.search-result-title {
  display: inline-block;
  max-width: 100%;
  font-weight: 700;
}

.search-result-description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}